:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --background-button: #f5f4fa;
  --accent-white-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: DM Sans, normal;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* mobile */

.conteiner {
  width: 320px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
  background-color: red;
}

.cities {
  padding: 43px 20px 43px 20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.card-item__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.card-list-buttom {
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
  border-radius: 4px;
}
